{% from "moj/components/alert/macro.njk" import mojAlert %}
{% macro capacityCheckMessages(opts, visitId, prisonerNumber) %}
  {% if opts.empty %}
    {{ mojAlert({
      variant: "error",
      role: "alert",
      title: "You cannot remove all visitors from an official visit",
      showTitleAsHeading: true,
      dismissible: false,
      html: "A visit must have at least one official visitor. Add new visitors or <a href=\"/view/visit/" + visitId + "/cancel\" class=\"govuk-link\">cancel this visit</a>",
      classes: 'govuk-!-margin-bottom-6'
    }) }}
  {% endif %}

  {% if opts.noCapacity %}
    {{ mojAlert({
      variant: "error",
      role: "alert",
      title: "Capacity for visit slot selected is exceeded",
      showTitleAsHeading: true,
      dismissible: false,
      html: "The visit slot has exceeded maximum visitor capacity. <a href=\"time-slot\" class=\"govuk-link\">Choose another time slot</a>",
      classes: 'govuk-!-margin-bottom-6'
    }) }}
  {% endif %}

  {% if opts.hasDuplicateContactIds %}
    {{ mojAlert({
      variant: "error",
      role: "alert",
      title: "Duplicate visitors selected",
      showTitleAsHeading: true,
      dismissible: false,
      html: "You have selected the same contact more than once. Remove duplicate visitors to continue.",
      classes: 'govuk-!-margin-bottom-6'
    }) }}
  {% endif %}

  {% if opts.hasPrisonerOverlap %}
    {{ mojAlert({
      variant: "error",
      role: "alert",
      title: "This prisoner already has a visit booked",
      showTitleAsHeading: true,
      dismissible: false,
      html: "The prisoner has another visit booked at this time.<br/>Choose a different time slot to continue.",
      classes: 'govuk-!-margin-bottom-6'
    }) }}
  {% endif %}

  {% if opts.hasVisitorOverlap %}
    {{ mojAlert({
      variant: "error",
      role: "alert",
      title: "A visitor already has a visit booked",
      showTitleAsHeading: true,
      dismissible: false,
      html: "A visitor has another visit booked at this time.<br/>Choose a different time slot to continue.",
      classes: 'govuk-!-margin-bottom-6'
    }) }}
  {% endif %}

  {% if opts.noRelationship %}
    {{ mojAlert({
      variant: "error",
      role: "alert",
      title: "Remove visitor with no recorded relationship with the prisoner",
      showTitleAsHeading: true,
      dismissible: false,
      html: "This visit includes one or more visitors who do not currently have a recorded relationship with this prisoner. A visitor must have a recorded relationship in <a target=\"_blank\" href=\"" + CONTACTS_HOME_PAGE_URL + "/prisoner/" + prisonerNumber + "/contacts/list\" class=\"govuk-link govuk-link--no-visited-state\"> the prisoner's contact record</a>. Remove affected visitors before proceeding.",
      classes: 'govuk-!-margin-bottom-6'
    }) }}
  {% endif %}
{% endmacro %}