{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro continueCancel(opts) %}
  <div class="govuk-button-group">
    {{ govukButton({
        text: opts.continueText or "Continue",
        preventDoubleClick: true
    }) }}
    <a class="govuk-link govuk-link--no-visited-state" href="{{opts.cancelHref or 'cancellation-check?stepsChecked=' + opts.stepsChecked}}">{{opts.cancelText or "Cancel and return to homepage"}}</a>
  </div>
{% endmacro %}

