{% extends "govuk/template.njk" %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block head %}
  <link href="{{ '/assets/css/index.css' | assetMap }}" rel="stylesheet"/>

  {% for js in feComponents.jsIncludes %}
    <script src="{{ js }}" nonce="{{ cspNonce }}"></script>
  {% endfor %}

  {% for css in feComponents.cssIncludes %}
    <link href="{{ css }}" nonce="{{ cspNonce }}" rel="stylesheet" />
  {% endfor %}
{% endblock %}

{% block pageTitle %}{{[pageTitle, "Official visits", "DPS"] | select() | join(" - ")}}{% endblock %}

{% block header %}
  {{ feComponents.header | safe }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service - your <a class="govuk-link" href="mailto:officialvisits-productteam@justice.gov.uk">feedback</a> will help us to improve it. You can find out more on <a class="govuk-link" href="https://justiceuk.sharepoint.com/sites/prisons-digital/SitePages/Official%20Visits.aspx" target="_blank">SharePoint.</a>'
  }) }}
  {% if backUrl %}
    {{ govukBackLink({
      text: "Back",
      href: backUrl
    }) }}
  {% endif %}

  {% if showBreadcrumbs and breadcrumbs and (not backUrl) %}
    <div class="ov-breadcrumbs govuk-!-display-none-print">
      <div class="ov-breadcrumbs__breadcrumbs">
        {{ govukBreadcrumbs({
          items: breadcrumbs.items
        }) }}
      </div>
    </div>

  {% endif %}

  {% block pageHeader %}{% endblock %}

  {% include 'partials/beforeContent.njk' %}
{% endblock %}


{% block bodyStart %}
{% endblock %}

{% block footer %}
  {{ feComponents.footer | safe }}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ '/assets/js/index.js' | assetMap }}"></script>
{% block pageScripts %}{% endblock %}
  <script type="text/javascript" nonce="{{ cspNonce }}">
    window.applicationInsightsConnectionString = "{{ applicationInsightsConnectionString }}"
    window.applicationInsightsApplicationName = "{{ applicationInsightsApplicationName }}"
    window.buildNumber = "{{ buildNumber }}"
    window.authenticatedUser = "{{ user.username }}"
  </script>
{% endblock %}