{% from "moj/components/progress-bar/macro.njk" import mojProgressBar %}

{% macro progressTracker(attendingFlag, timeAndPlaceFlag, visitorFlag, optionalFlag, reviewFlag) %}

  <div class="moj-progress-tracker" data-qa="moj-progress-tracker">
    {{ mojProgressBar({
      items: [
        { id: 1, label: { text: 'Who is attending' }, complete: attendingFlag },
        { id: 2, label: { text: 'Visit time and place' }, complete: timeAndPlaceFlag },
        { id: 3, label: { text: 'Visit type and visitors' }, complete: visitorFlag },
        { id: 4, label: { text: 'Optional information' }, complete: optionalFlag },
        { id: 5, label: { text: 'Review and confirm' }, complete: reviewFlag }
      ]
    }) }}
  </div>

{% endmacro %}
