{% from "moj/components/progress-bar/macro.njk" import mojProgressBar %}

{% macro progressTracker(prisonerFlag, visitorFlag, timeAndPlaceFlag, reviewFlag, completeFlag) %}

  {{ mojProgressBar({
    items: [
      { id: 1, label: { text: 'Who is attending' }, complete: prisonerFlag },
      { id: 2, label: { text: 'Visitors' }, complete: visitorFlag },
      { id: 3, label: { text: 'Time and place' }, complete: timeAndPlaceFlag },
      { id: 4, label: { text: 'Review visit' }, complete: reviewFlag },
      { id: 5, label: { text: 'Booking complete' }, complete: completeFlag }
    ]
  }) }}

{% endmacro %}
