{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% macro unauthorisedVisitorsInset(user, hasIssueVisitors, shouldShowIssues, hasSocialVisitors, hasNotApprovedVisitors, hasNoRelationshipVisitors, PERMISSION) %}
  {% if hasIssueVisitors and shouldShowIssues %}
    {% call govukInsetText({ classes: "govuk-!-margin-0 govuk-!-margin-bottom-4 guidance-panel" }) %}
      <h2 class="govuk-heading-s govuk-!-margin-0">Some visitor details need updating</h2>
      <p>This visit includes one or more people who are not allowed to visit.<br /><br />This is because:</p>
      <ul class="govuk-list govuk-list--bullet">
        {% if hasSocialVisitors %}
          <li>social visitors cannot join official visits</li>
        {% endif %}
        {% if hasNotApprovedVisitors %}
          <li>a visitor is not an approved contact</li>
        {% endif %}
        {% if hasNoRelationshipVisitors %}
          <li>a visitor does not have a recorded relationship with the prisoner</li>
        {% endif %}
      </ul>

      {% if (user | hasPermission(PERMISSION.CONTACTS_AUTHORISER)) and (user | hasPermission(PERMISSION.MANAGE)) %}
        <p>You can update visitor details in the prisoner's contact record or remove visitors from this visit.</p>
      {% elif user | hasPermission(PERMISSION.CONTACTS_AUTHORISER) %}
        <p>You can update visitor details in the prisoner's contact record.</p>
        <p>You'll need the Official Visits - Manage role to remove visitors from this visit.</p>
      {% elif user | hasPermission(PERMISSION.MANAGE) %}
        <p>You can remove visitors from this visit.</p>
        <p>You'll need the Contacts Authoriser role to update visitor details in the prisoner's contact record.</p>
      {% else %}
        <p>You'll need:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the Contacts Authoriser role to update visitor details in the prisoner's contact record</li>
          <li>the Official Visits - Manage role to remove visitors from this visit</li>
        </ul>
      {% endif %}

      <a target="_blank" href="{{ CONTACTS_HOME_PAGE_URL }}/prisoner/{{ prisoner.prisonerNumber }}/contacts/list" class="govuk-link govuk-link--no-visited-state">View the prisoner’s contact record</a>
    {% endcall %}
  {% endif %}
{% endmacro %}