{% from "govuk/components/details/macro.njk" import govukDetails %}

<div class="mini-profile" data-qa="mini-profile">
   {% set imageUrl =  "/prisoner-image/" ~ prisoner.prisonerNumber  %}
   {% set relevantAlerts = prisoner.alerts | alertTags %}
    <div class="mini-profile-inner">
        <div class="mini-profile-left">
            <img class="mini-profile-person-img"
                 src="{{ imageUrl or '/assets/images/prisoner-profile-image.png'}}"
                 alt="Image of {{ prisoner.lastName }}"
                 loading="lazy"
                 data-qa="mini-profile-person-img"
            />
        </div>
        <div class="mini-profile-right">
            <dl class="mini-profile-info">
                <div class="mini-profile-info__item">
                    <dt class="govuk-visually-hidden">Name and prison number</dt>
                    <dd>
                        <p class="govuk-heading-s govuk-!-margin-bottom-1">
                            <a id="mini-profile-link"
                               class="govuk-link--no-visited-state"
                               href="{{ DPS_HOME_PAGE_URL }}/prisoner/{{ prisoner.prisonerNumber }}"
                               target="_blank"
                               data-qa="mini-profile-person-profile-link">{{ (prisoner.lastName + ', ' + prisoner.firstName) | convertToTitleCase }}
                            </a>
                        </p>
                        <span class="govuk-body" data-qa="mini-profile-prisoner-number">{{ prisoner.prisonerNumber }}</span>
                    </dd>
                </div>
                <div class="mini-profile-info__item">
                     <dt class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-0">Date of birth</dt>
                     <dd class="govuk-body" data-qa="mini-profile-dob">{{ prisoner.dateOfBirth | formatDate }}</dd>
                </div>
                <div class="mini-profile-info__item">
                    <dt class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-0">Establishment</dt>
                    <dd class="govuk-body" data-qa="mini-profile-prison-name">{{ prisoner.prisonName }}</dd>
                </div>
                <div class="mini-profile-info__item">
                    <dt class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-0">Cell number</dt>
                    <dd class="govuk-body" data-qa="mini-profile-cell-location">{{ prisoner.cellLocation }}</dd>
                </div>
            </dl>

            {% set alertsHtml %}
                {% if relevantAlerts | length or prisoner.restrictionsCount %}
                    <ul class="alert-tag-list" data-qa="mini-profile-alert-tags">
                        {% for alert in relevantAlerts %}
                            <li>
                                <span class="alert-tag {{ alert.classes }}"
                                      data-qa="mini-profile-alert-{{ alert.alertCode }}">{{ alert.description }}</span>
                            </li>
                        {% endfor %}
                        {% if prisoner.restrictionsCount %}
                            <li>
                                <a class="govuk-link govuk-link--no-visited-state"
                                   href="{{ CONTACTS_HOME_PAGE_URL }}/prisoner/{{ prisoner.prisonerNumber }}/alerts-restrictions"
                                   target="_blank"
                                   data-qa="mini-profile-restrictions-link">+ {{ prisoner.restrictionsCount }}
                                    {%- if prisoner.restrictionsCount == 1 %} active restriction{% else %} active restrictions{% endif %}</a>
                            </li>
                        {% endif %}
                    </ul>
                {% else %}
                    <p class="govuk-body govuk-!-margin-bottom-0" data-qa="mini-profile-no-alerts">None</p>
                {% endif %}
            {% endset %}

            <div class="mini-profile-alerts">
                {{ govukDetails({
                    summaryText: "Relevant alerts and restrictions",
                    html: alertsHtml,
                    attributes: { "data-qa": "mini-profile-alerts" }
                }) }}
            </div>
        </div>
    </div>
</div>
