PORT=3000
NODE_ENV=development
ENVIRONMENT_NAME=DEV
TOKEN_VERIFICATION_ENABLED=false
REDIS_HOST=localhost
REDIS_ENABLED=true
INGRESS_URL=http://localhost:3000
NO_HTTPS=true
PRODUCT_ID=DPS131
SESSION_SECRET=<string>
# API URL for DEV instances
OFFICIAL_VISITS_API_URL=https://official-visits-api-dev.hmpps.service.justice.gov.uk
TOKEN_VERIFICATION_API_URL=https://token-verification-api-dev.prison.service.justice.gov.uk
COMPONENT_API_URL=https://frontend-components-dev.hmpps.service.justice.gov.uk
HMPPS_AUTH_URL=https://sign-in-dev.hmpps.service.justice.gov.uk/auth
HMPPS_AUTH_EXTERNAL_URL=https://sign-in-dev.hmpps.service.justice.gov.uk/auth
PRISONER_SEARCH_API_URL=https://prisoner-search-dev.prison.service.justice.gov.uk
DPS_HOME_PAGE_URL=https://digital-dev.prison.service.justice.gov.uk
PRISONER_PROFILE_URL=https://prisoner-dev.digital.prison.service.justice.gov.uk
CONTACTS_HOME_PAGE_URL=https://contacts-dev.hmpps.service.justice.gov.uk
ACTIVITIES_API_URL=https://activities-api-dev.prison.service.justice.gov.uk
PERSONAL_RELATIONSHIPS_API_URL=https://personal-relationships-api-dev.hmpps.service.justice.gov.uk
PRISON_API_URL=https://prison-api-dev.prison.service.justice.gov.uk
MANAGE_USERS_API_URL=https://manage-users-api-dev.hmpps.service.justice.gov.uk
BOOK_A_VIDEO_LINK_API_URL=https://book-a-video-link-api-dev.prison.service.justice.gov.uk
# Locally configured clients and secrets
AUTH_CODE_CLIENT_ID=<ask>
AUTH_CODE_CLIENT_SECRET=<ask>
CLIENT_CREDS_CLIENT_ID=<ask>
CLIENT_CREDS_CLIENT_SECRET=<ask>
FEATURE_ALLOW_SOCIAL_VISITORS_PRISONS=LEI
FEATURE_DPS_ENABLED_PRISONS=MDI
FEATURE_NOMIS_SWITCH_OFF_PRISONS=LEI
FEATURE_EMAIL_NOTIFICATIONS_PRISONS=MDI
FEATURE_VISITS_NEED_REVIEW_PRISONS=MDI
