{% macro calendar(params) %}
  <nav class="hmpps-calendar" aria-label="Calendar navigation" role="navigation">
    {% for month in params.months %}
      <h2 class="govuk-heading-m">{{ month.monthHeading }}</h2>

      <ul class="govuk-list hmpps-calendar__day-headings" aria-hidden="true">
        <li>M<span>on</span></li>
        <li>T<span>ue</span></li>
        <li>W<span>ed</span></li>
        <li>T<span>hu</span></li>
        <li>F<span>ri</span></li>
        <li>S<span>at</span></li>
        <li>S<span>un</span></li>
      </ul>

      <ul class="govuk-list hmpps-calendar__month">
        {% for day in month.days %}
          <li class="hmpps-calendar__day{%- if loop.first and month.firstDayStartColumn %} hmpps-calendar__day--start-col-{{ month.firstDayStartColumn }}{% endif -%}{{ ' hmpps-calendar__day--has-link' if day.href }}{{ ' hmpps-calendar__day--selected' if day.selected }}">
            {% if day.href and not day.selected %}
              <a href="{{ day.href }}">{{ day.dayNumber }}</a>
            {% else %}
              <span aria-hidden="true">{{ day.dayNumber }}</span>
            {% endif %}
            <span class="govuk-visually-hidden">{{ day.date | formatDate("EEEE d MMMM yyyy") }}</span>
          </li>
        {% endfor %}
      </ul>
    {% endfor %}

    {% if params.previousMonthHref or params.nextMonthHref %}
      <div class="hmpps-calendar__navigation">
        {% if params.previousMonthHref %}
          <a href="{{ params.previousMonthHref }}" class="govuk-link govuk-link--no-visited-state">‹ Previous Month</a>
        {% endif %}
        {% if params.nextMonthHref %}
          <a href="{{ params.nextMonthHref }}" class="govuk-link govuk-link--no-visited-state">Next Month ›</a>
        {% endif %}
      </div>
    {% endif %}
  </nav>
{% endmacro %}
