{% macro calendar(params) %}
  <section class="hmpps-calendar" data-module="hmpps-calendar" aria-label="{{ params.label | default('Select a visit date') }}">
    {% if params.previousMonthHref or params.nextMonthHref %}
      <div class="hmpps-calendar__navigation">
        {% if params.previousMonthHref %}
          <a href="{{ params.previousMonthHref }}" class="govuk-link govuk-link--no-visited-state"><span aria-hidden="true">‹</span> Previous Month</a>
        {% endif %}
        {% if params.nextMonthHref %}
          <a href="{{ params.nextMonthHref }}" class="govuk-link govuk-link--no-visited-state hmpps-calendar__navigation-next">Next Month <span aria-hidden="true">›</span></a>
        {% endif %}
      </div>
    {% endif %}

    {% for month in params.months %}
      <h3 class="govuk-heading-s">{{ month.monthHeading }}</h3>

      <ul class="govuk-list hmpps-calendar__day-headings" aria-hidden="true">
        <li>M<span>on</span></li>
        <li>T<span>ue</span></li>
        <li>W<span>ed</span></li>
        <li>T<span>hu</span></li>
        <li>F<span>ri</span></li>
        <li>S<span>at</span></li>
        <li>S<span>un</span></li>
      </ul>

      <ul class="govuk-list hmpps-calendar__month">
        {% for day in month.days %}
          {%- set dayLabel = day.date | formatDate("EEEE d MMMM yyyy") -%}
          <li class="hmpps-calendar__day{%- if loop.first and month.firstDayStartColumn %} hmpps-calendar__day--start-col-{{ month.firstDayStartColumn }}{% endif -%}{{ ' hmpps-calendar__day--has-link' if day.href }}{{ ' hmpps-calendar__day--selected' if day.selected }}">
            {% if day.selected %}
              <span class="hmpps-calendar__day-item" data-date="{{ day.date }}" aria-current="date">
                <span aria-hidden="true">{{ day.dayNumber }}</span>
                <span class="govuk-visually-hidden">{{ dayLabel }}</span>
              </span>
            {% elif day.href %}
              <a href="{{ day.href }}" class="hmpps-calendar__day-item" data-date="{{ day.date }}">
                <span aria-hidden="true">{{ day.dayNumber }}</span>
                <span class="govuk-visually-hidden">{{ dayLabel }}</span>
              </a>
            {% else %}
              <span class="hmpps-calendar__day-item" data-date="{{ day.date }}">
                <span aria-hidden="true">{{ day.dayNumber }}</span>
                <span class="govuk-visually-hidden">{{ dayLabel }}, no visit times available</span>
              </span>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </section>
{% endmacro %}
