{% extends "partials/layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/progress-tracker.njk" import progressTracker %}
{% from "partials/miniProfile/macro.njk" import miniProfile %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageTitle = "Select cancellation reason" %}

{% block content %}

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-three-quarters">
      <span class="govuk-hint">Cancel an official visit</span>
      <h1 class="govuk-heading-l">Select cancellation reason for this visit</h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <form method='POST'>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        {{govukRadios({
          name: "reason",
          fieldset: {
            legend: {
              text: "Select reason from the list",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "STAFF_CANCELLED",
              text: "Cancelled by prison staff"
            },
            {
              value: "VISITOR_CANCELLED",
              text: "Cancelled by the visitor(s)"
            },
            {
              value: "PRISONER_CANCELLED",
              text: "Cancelled by the prisoner"
            }
          ]
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
               text: "Continue",
               preventDoubleClick: true
          }) }}
          <a class="govuk-link govuk-link--no-visited-state" href="{{ back }}">Cancel and return to visit summary</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}