{% extends "partials/layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/movementSlip.njk" import movementSlip %}

{% set pageTitle = "Movement slip" %}

{% block pageScripts %}
  <script type="text/javascript" nonce="{{ cspNonce }}">
    const printOptionsButton = document.getElementById('print-button');
    if (printOptionsButton) {
      printOptionsButton.classList.remove('govuk-!-display-none')
      printOptionsButton.onclick = () => {
        window.print()
      }
    }
    </script>
{% endblock %}

{% block content %}

  {{ govukButton({
      id: "print-button",
      text: "Print movement slip",
      type: "button",
      classes: 'blue-button govuk-!-display-none govuk-!-display-none-print'
  }) }}

  {{ movementSlip(visit, visit.prisonerVisited, now) }}
{% endblock %}