{% extends "partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "moj/components/date-picker/macro.njk" import mojDatePicker %}
{% from "partials/simplePagination.njk" import simplePagination %}

{% block content %}
  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-three-quarters">
      <span class="govuk-hint">View official visit email status</span>
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
      <p class="govuk-body">View the status of emails that have been sent to visitors. Emails from {{ prisonName }} will be sent from HMPPS Official Visits.</p>
    </div>
  </div>

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-three-quarters">
      <form method="POST" class="search-form govuk-!-padding-4 govuk-!-margin-bottom-6">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <h2 class="govuk-heading-s govuk-!-margin-bottom-3">Search by date range</h2>
        <div class="date-search-form">
          {{ mojDatePicker({
            id: "fromDate",
            name: "fromDate",
            label: { text: "From" },
            errorMessage: validationErrors | findError('fromDate'),
            value: fromDateValue
          }) }}

          {{ mojDatePicker({
            id: "toDate",
            name: "toDate",
            label: { text: "To" },
            errorMessage: validationErrors | findError('toDate'),
            value: toDateValue
          }) }}
        </div>

        <div class="govuk-button-group govuk-!-margin-bottom-0">
          {{ govukButton({ text: 'Search', preventDoubleClick: true, classes: 'govuk-!-margin-bottom-0' }) }}
        </div>
      </form>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-from-desktop">
      {% if results.totalElements > 0 %}
        {{ simplePagination(pagination) }}

        {% set rows = [] %}
        {% for email in results.content %}
          {% set prisonerHtml %}
            <a class="govuk-link govuk-link--no-visited-state" href="/view/visit/{{ email.officialVisitId }}">{{ email.prisonerName }}</a><br>{{ email.prisonerNumber }}
          {% endset %}

          {% set dateAndTimeHtml %}
            {{ email.visitStartTime | timeStringTo12HourPretty(true) }} to {{ email.visitEndTime | timeStringTo12HourPretty(true) }}<br>{{ email.visitDate | formatDate('d MMMM yyyy') }}
          {% endset %}

          {% set emailSentHtml %}
            {{ email.sentDateTime | formatDate('h:mmaaa') }}<br>{{ email.sentDateTime | formatDate('d MMMM yyyy') }}
          {% endset %}

          {% set emailStatusHtml %}
            {{ govukTag({
              text: email.emailStatus,
              classes: 'govuk-tag--green' if email.emailStatus == 'SENT' else 'govuk-tag--red'
            }) }}
          {% endset %}

          {% set rows = (rows.push([
            { html: dateAndTimeHtml },
            { html: prisonerHtml },
            { text: email.emailAddress },
            { html: emailStatusHtml },
            { html: emailSentHtml }
          ]), rows) %}
        {% endfor %}

        {{ govukTable({
          firstCellIsHeader: false,
          classes: 'table-vertical-align-middle govuk-!-margin-top-6',
          head: [
            { text: 'Visit date and time' },
            { text: 'Prisoner' },
            { text: 'Email address' },
            { text: 'Email status' },
            { text: 'Email sent' }
          ],
          rows: rows
        }) }}

        {{ simplePagination(pagination) }}
      {% else %}
        <p class="govuk-body">No emails found matching the current filters.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
