{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "partials/simplePagination.njk" import simplePagination %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "moj/components/date-picker/macro.njk" import mojDatePicker %}
{%- from "moj/components/filter/macro.njk" import mojFilter -%}
{%- from "moj/components/button-menu/macro.njk" import mojButtonMenu -%}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% extends "partials/layout.njk" %}

{% set pageTitle = "Search for an official visit" %}
{% set hideBackLink = true %}

{% block content %}
  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-three-quarters">
      <span class="govuk-hint">Manage existing official visits</span>
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
    </div>
  </div>

  <form method="post" class="govuk-grid-row govuk-!-padding-6 govuk-!-margin-bottom-7 search-form">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
    <div class="govuk-grid-row govuk-body">
      {{ govukInput({
        id: "prisoner",
        name: "prisoner",
        value: formResponses.prisoner or filter.prisoner,
        classes: "max-width-two-thirds",
        label: {
          text: 'Search by prisoner name or prisoner ID'
        }
      }) }}
    </div>

    <div class="govuk-grid-row govuk-body">
      <p class="govuk-body" style="width: 100%">Search by date range</p>
    </div>

    <div class="govuk-grid-row govuk-body">
      <div class="govuk-form-group">
        <div class="date-search-form">
          {{ mojDatePicker({
          id: "startDate",
          name: "startDate",
          label: {
            text: "From"
          },
          errorMessage: validationErrors | findError('startDate'),
          value: (formResponses.startDate or filter.startDate) | mojDate
      }) }}

          {{ mojDatePicker({
          id: "endDate",
          name: "endDate",
          label: {
            text: "To"
          },
          errorMessage: validationErrors | findError('endDate'),
          value: (formResponses.endDate or filter.endDate) | mojDate
      }) }}
        </div>
      </div>
    </div>

    <div class="govuk-grid-row govuk-body govuk-!-margin-bottom-0">
      {{ govukButton({
        text: "Search",
        classes: "govuk-!-margin-bottom-0",
        preventDoubleClick: true
      }) }}
    </div>
  </form>

  {% set rows = [] %}
  {% for visitRecord in visits %}
    {% set rows = (rows.push([
      {
        html: (visitRecord.startTime | timeStringTo12HourPretty(true)) + ' to ' + (visitRecord.endTime | timeStringTo12HourPretty(true)) + '</b><br />' + visitRecord.visitDate | formatDate
      },
      {
        html: visitRecord.locationDescription or '-'
      },
      {
        html: visitRecord.visitTypeDescription or '-'
      },
      {
        html: '<a class="govuk-link--no-visited-state" href="' + prisonerProfileUrl + '/prisoner/' + visitRecord.prisoner.prisonerNumber + '">' + visitRecord.prisoner | lastNameCommaFirstName + "</a><br/>" + visitRecord.prisoner.prisonerNumber
      },
      {
        html: visitRecord.visitStatusDescription or '-'
      },
      {
        html: '<a class="govuk-link govuk-link--no-visited-state" href="/view/' + visitRecord.officialVisitId + '">Select</a>'
      }
    ]), rows) %}
  {% endfor %}

  {% if pagination.totalElements > 0 %}

    {{ simplePagination(pagination)  }}

    {{ govukTable({
      firstCellIsHeader: false,
      classes: 'table-vertical-align-middle govuk-!-margin-top-6',
      head: [
        { text: 'Time and date', attributes: { "aria-sort": "none" } },
        { text: "Location", attributes: { "aria-sort": "none" } },
        { text: "Visit type", attributes: { "aria-sort": "none" } },
        { text: "Prisoner", attributes: { "aria-sort": "none" } },
        { text: "Status", attributes: { "aria-sort": "none" } },
        { text: "Action", attributes: { "aria-sort": "none" } }
      ],
      rows: rows
    }) }}

    {{ simplePagination(pagination)  }}

  {% else %}
    <p class="govuk-body">No visits found matching the current filters.</p>
  {% endif %}

{% endblock %}