{% extends "partials/layout.njk" %}

{% set pageTitle = "View an official visit" %}
{% set hideBackLink = true %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      Page awaiting build
    </div>
  </div>
{% endblock %}
