{% extends "partials/layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/miniProfile/macro.njk" import miniProfile %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "moj/components/alert/macro.njk" import mojAlert %}

{% set pageTitle = "Official visit with " + visit.prisonerVisited | firstNameSpaceLastName %}
{% set paramBackTo = ("?backTo=" + b64BackTo) if b64BackTo %}

{% block content %}
  <div class="govuk-grid-row">
    <span class="govuk-hint">Manage existing official visits</span>
    
    {% if user | hasPermission(PERMISSION.MANAGE) %}
      <a href="/view/visit/{{visit.officialVisitId}}/amend{{paramBackTo}}" class="govuk-link float-right govuk-link--no-visited-state"> Amend this visit</a>
    {% endif %}

    <h1 class="govuk-heading-l">Official visit</h1>
    {{ miniProfile(prisoner) }}

    {% if updateVerb %}
      {{ mojAlert({
        variant: "success",
        title: "Visit marked as " + updateVerb,
        showTitleAsHeading: true,
        dismissible: false,
        html: "You have " + updateVerb + " this visit. <a href='" + (backTo or '/view/list') + "'>Return to search list</a>"
      }) }}

    {% endif %}

    {{ govukButton ({
      text: "Print movement slip (TODO)",
      href: "#TODO",
      classes: "govuk-button blue-button"
    }) }}

    {{ govukSummaryList({
      card: {
        classes: "govuk-!-margin-bottom-7",
        title: {
          text: "Visit details"
        },
        actions: {
          items: [] if visit.completionCode else [
            {
              href: "/view/visit/" + visit.officialVisitId + "/cancel" + paramBackTo,
              html: "Cancel visit",
              classes: 'govuk-link--no-visited-state'
            },
            {
              href: "/view/visit/" + visit.officialVisitId + "/complete" + paramBackTo,
              html: "Complete visit",
              classes: 'govuk-link--no-visited-state'
            }
          ] 
        } if user | hasPermission(PERMISSION.MANAGE)
      },
      rows: [
        {
          key: { text: "Date" },
          value: { text: visit.visitDate | formatDate("iiii, d MMMM yyyy") }
        },
        {
          key: { text: "Time" },
          value: { text: (visit.startTime | timeStringTo12HourPretty(true)) + ' to ' + (visit.endTime | timeStringTo12HourPretty(true)) + ' (' +  visit.startTime | durationText(visit.endTime) + ')' }
        },
        {
          key: { text: "Visit status" },
          value: { text: visit.visitStatusDescription }
        },
        {
          key: { text: "Visit reference number" },
          value: { text: visit.officialVisitId }
        },
        {
          key: { text: "Location" },
          value: { text: visit.locationDescription }
        },
        {
          key: { text: "Visit type" },
          value: { text: visit.visitTypeDescription }
        },
        {
          key: { text: "Prisoner notes" },
          value: { text: visit.prisonerNotes or 'None' }
        },
        {
          key: { text: "Staff notes" },
          value: { text: visit.staffNotes or 'None' }
        },
        {
          key: { text: "Created by" },
          value: { text: visit.createdBy + ' (' + visit.createdTime | formatDate("iiii, d MMMM yyyy") + ')' }
        },
        {
          key: { text: "Last modified" },
          value: { text: (visit.updatedBy or visit.createdBy) + ' (' + (visit.updatedTime or visit.createdTime) | formatDate("iiii, d MMMM yyyy") + ')' } 
        }, 
        {
          key: { text: "Visitor concerns" },
          value: { text: visit.visitorConcernNotes }
        } if visit.visitorConcernNotes
      ] | filterNonFalsy
    }) }}

    <h2 class="govuk-heading-m">Visitor details</h2>

    {% for contact in visit.officialVisitors %}
      {{ govukSummaryList({
      card: {
        classes: "govuk-!-margin-bottom-7",
        title: {
          html: '<a target="_blank" href="' + prisonerContactsUrl + '/prisoner/' + visit.prisonerVisited.prisonerNumber + '/contacts/manage/' + contact.contactId + '/relationship/' + contact.prisonerContactId + '">' + contact | firstNameSpaceLastName + '</a> (' + contact.relationshipDescription + ')'
        }
      },
      rows: [
        {
          key: { text: "Contact type" },
          value: { text: contact.relationshipTypeDescription }
        },
        {
          key: { text: "Does this visitor need assistance" },
          value: { text: "Yes" if contact.assistedVisit else "No" }
        },
        {
          key: { text: "Assistance details" },
          value: { text: contact.assistanceNotes or "None"}
        },
        {
          key: { text: "Equipment" },
          value: { text: contact.visitorEquipment.description if contact.visitorEquipment else 'None' }
        },
        {
          key: { text: "Visitor concerns" },
          value: { text: contact.visitorNotes }
        } if contact.visitorNotes,
        {
          key: { text: "Email" },
          value: { text: contact.emailAddress or 'None' }
        },
        {
          key: { text: "Telephone number" },
          value: { text: contact.phoneNumber or 'None' }
        }
      ] | filterNonFalsy
    }) }}
    {% endfor %}

    {{ govukButton ({
      text: "Print attendance list (TODO)",
      href: "#TODO",
      classes: "govuk-button blue-button"
    }) }}

  </div>
{% endblock %}