{% extends "../../partials/layout.njk" %}

{% from "components/card.njk" import card %}
{% from "moj/components/alert/macro.njk" import mojAlert %}

{% set mainClasses = "app-container govuk-body" %}

{% block main %}
  <div class="govuk-width-container" id="before-content">
    {% include 'partials/beforeContent.njk' %}
  </div>

  {% if showSwitchOffBanner %}
    <div class="govuk-width-container">
      {{ mojAlert({
        variant: "information",
        title: "",
        showTitleAsHeading: true,
        dismissible: true,
        html: "You must now use DPS to book and manage official visits. The Visits screens in NOMIS have now been switched off at your prison. You can <a class='govuk-link' href='https://justiceuk.sharepoint.com/sites/prisons-digital/SitePages/Official%20Visits.aspx'>find further guidance on our SharePoint page</a>."
      }) }}
    </div>
  {% endif %}

  <main class="govuk-main-wrapper govuk-!-padding-top-0" id="main-content">
    <div class="govuk-width-container">
      <h1 class="govuk-heading-l govuk-!-margin-top-8">Official visits</h1>
    </div>
    <div class="homepage-card-background">
      <div class="govuk-width-container">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <div class="card-group govuk-grid-row">

              {% if user | hasPermission(PERMISSION.MANAGE) %}
                <div class="govuk-grid-column-one-third card-group__item">
                  {{ card({
                    "href": "/manage/create/search",
                    "clickable": "true",
                    "heading": "Book an official visit",
                    "description": "Book in-person, video or phone visits with approved contacts.",
                    "data-qa": "book-official-visit-card"
                  }) }}
                </div>

                <div class="govuk-grid-column-one-third card-group__item">
                  {{ card({
                    "href": "/view/list",
                    "clickable": "true",
                    "heading": "Manage official visits",
                    "description": "View existing official visits and cancel, complete or update visit details.",
                    "data-qa": "manage-official-visits-card"
                  }) }}
                </div>
              {% endif %}

              {% if (user | hasPermission(PERMISSION.VIEW) or user | hasPermission(PERMISSION.DEFAULT)) and not (user | hasPermission(PERMISSION.MANAGE)) and not (user | hasPermission(PERMISSION.ADMIN)) %}
                <div class="govuk-grid-column-one-third card-group__item">
                  {{ card({
                    "href": "/view/list",
                    "clickable": "true",
                    "heading": "View official visits",
                    "description": "View existing official visits.",
                    "data-qa": "view-official-visits-card"
                  }) }}
                </div>
              {% endif %}

              {% if user | hasPermission(PERMISSION.ADMIN) %}
                <div class="govuk-grid-column-one-third card-group__item">
                  {{ card({
                    "href": "/admin/time-slots",
                    "clickable": "true",
                    "heading": "Official visiting schedule",
                    "description": "View existing official visiting times and create new visit time slots and locations.",
                    "data-qa": "official-visiting-schedule-card"
                  }) }}
                </div>
              {% endif %}

              {% if emailNotificationsEnabled and user | hasPermission(PERMISSION.MANAGE) %}
                <div class="govuk-grid-column-one-third card-group__item">
                  {{ card({
                    "href": "/view/sent-emails",
                    "clickable": "true",
                    "heading": "View official visits emails",
                    "description": "View the status of emails sent to visitors.",
                    "data-qa": "view-sent-emails-card"
                  }) }}
                </div>
              {% endif %}

            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
