{% extends "../../partials/layout.njk" %}

{% from "components/card.njk" import card %}

{% set pageTitle = "Official Visits" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <h1 class="govuk-heading-l govuk-!-margin-bottom-6">Official Visits</h1>

  <div class="homepage-content-container">
    <div class="homepage-content">
      <div class="govuk-width-container">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <div class="card-group govuk-grid-row">

              <div class="govuk-grid-column-one-third card-group__item">
                {{ card({
                  "href": "/manage/create/search",
                  "clickable": "true",
                  "heading": "Book an official visit",
                  "description": "Book an official visit for a prisoner. You can arrange for an in-person or video visit with any approved contacts.",
                  "data-qa": "book-official-visit-card"
                }) }}
              </div>

              <div class="govuk-grid-column-one-third card-group__item">
                {{ card({
                  "href": "#",
                  "clickable": "true",
                  "heading": "View available slots for official visits",
                  "description": "View slot availability for official visits. This also shows the capacity and current free slots available for bookings.",
                  "data-qa": "view-official-visit-slots-card"
                }) }}
              </div>

              <div class="govuk-grid-column-one-third card-group__item">
                {{ card({
                  "href": "#",
                  "clickable": "true",
                  "heading": "View or cancel existing official visits",
                  "description": "You can view, and cancel, existing official visits by date, prisoner or location.",
                  "data-qa": "view-or-cancel-official-visits-card"
                }) }}
              </div>

              <div class="govuk-grid-column-one-third card-group__item">
                {{ card({
                  "href": "#",
                  "clickable": "true",
                  "heading": "Administer days, slots and locations for official visits",
                  "description": "You can view, create and amend the time slots and locations where official visits can take place in the prison.",
                  "data-qa": "manage-time-slots-card"
                }) }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
