$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import 'govuk-frontend/dist/govuk/index';
@import '@ministryofjustice/frontend/moj/all';
@import '@ministryofjustice/frontend/moj/components/all';

@import 'node_modules/@ministryofjustice/hmpps-connect-dps-components/dist/assets/footer';
@import 'node_modules/@ministryofjustice/hmpps-connect-dps-components/dist/assets/header-bar';

@import './components/card';
@import './overrides/local';
@import './components/date-scroller';
@import './components/mini-profile';
@import './components/hmpps-summary-card';
@import './components/horizontal-search-form';