.search-form {
  background-color: #f3f2f1;
  padding: 10px;
}

.date-search-form {
  display: flex;
  gap: 20px;
  align-items: flex-end;
}

.max-width-two-thirds {
  max-width: 680px;
}

.no-label-form-clear-link {
  margin-bottom: 10px;
  margin-top: 0 !important;
}