.search-form {
  background-color: #f3f2f1;
  padding: 10px;
}

.date-search-form {
  display: flex;
  gap: 20px;
  align-items: flex-end;
}

.horizontal-form {
  * {
    width: 100%;
  }

  .govuk-checkboxes__input {
    width: auto;
    margin-left: 25px;
  }

  .govuk-checkboxes__label::before {
    background: white !important;
  }

  @include govuk-media-query($from: desktop) {
    display: flex;
    flex-flow: row wrap;

    .govuk-form-group.flex-grow {
      flex-grow: 1;

      .flex-grow {
        width: 100%;
      }
    }

    * {
      width: auto;
      margin-bottom: 0;
    }

    >div {
      margin-right: govuk-spacing(3);
    }

    .date-picker-container input {
      width: 130px !important;
    }

    label {
      margin-bottom: govuk-spacing(1);
    }

    button {
      margin-right: govuk-spacing(3);
      margin-bottom: $govuk-border-width-form-element;
    }

    a {
      margin-bottom: 10px;
    }

    button,
    a {
      align-self: flex-end;
    }

    .govuk-checkboxes.horizontal-checkbox {
      margin-top: 28px;
    }

    .horizontal-checkbox .govuk-checkboxes__label {
      max-width: none;
      margin-top: 2px;
    }
  }
}

.horizontal-links {
  >a {
    margin-right: govuk-spacing(2);
  }

  @include govuk-media-query($from: desktop) {
    display: flex;

    * {
      width: auto;
      margin-bottom: 0;
    }

    >a {
      margin-right: govuk-spacing(3);
    }
  }
}

.no-label-form-clear-link {
  margin-bottom: 10px;
  margin-top: 0 !important;
}