.movement-slip p {
  font-size: 0.8rem;
}

.movement-slip .govuk-heading-l {
  font-size: 1.5rem !important;
}

.movement-slip h1 {
  font-size: 1rem !important;
}

.movement-slip .govuk-summary-list {
  font-size: 0.8rem;
}

.movement-slip .govuk-hint {
  font-size: 0.8rem;
}