.review-count {
  @include govuk-font($size: 19, $weight: bold);

  display: inline-block;
  min-width: 28px;
  height: 28px;
  padding: 0 govuk-spacing(1);
  margin-left: govuk-spacing(2);

  background-color: $govuk-error-colour;
  border-radius: 14px;
  color: govuk-colour("white");
  line-height: 28px;
  text-align: center;
  vertical-align: middle;
}

.review-table {
  // Prisoner
  th:nth-child(1),
  td:nth-child(1) {
    width: 24%;
  }


  // Visit date and time
  th:nth-child(2),
  td:nth-child(2) {
    width: 23%;
  }

  // Review reasons
  th:nth-child(3),
  td:nth-child(3) {
    width: 34%;
  }

  //Actions
  th:nth-child(4),
  td:nth-child(4) {
    width: 20%;
  }
}

.review-reasons {
  .govuk-tag {
    max-width: none;
    white-space: nowrap;
  }

  div + div {
    margin-top: govuk-spacing(2);
  }
}

.review-actions {
  li {
    margin-bottom: govuk-spacing(1);

    &:last-child {
      margin-bottom: 0;
    }
  }

  form {
    display: inline;
  }
}

.govuk-button--as-link {
  @include govuk-font($size: 19);

  padding: 0;
  border: 0;
  background: none;
  color: $govuk-link-colour;
  cursor: pointer;
  text-align: left;
  text-decoration: underline;

  &:hover {
    color: $govuk-link-hover-colour;
  }

  &:focus {
    @include govuk-focused-text;
  }
}
