{% extends "partials/layout.njk" %}
{% from "partials/miniProfile/macro.njk" import miniProfile %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/progress-tracker.njk" import progressTracker %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "partials/continueCancel.njk" import continueCancel %}
{% from "partials/createJourneyHeader.njk" import createJourneyHeader %}
{% from "partials/capacityCheckMessages.njk" import capacityCheckMessages %}

{% set pageTitle = "Do any visitors need assistance?" %}

{% block content %}

  {{ capacityCheckMessages(checks, visitId)}}
  {{ createJourneyHeader(prisoner, stepsChecked, mode)}}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <span class="govuk-hint">{{'Book' if mode == 'create' else 'Update'}} an official visit</span>
      <form method='POST'>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        {% set contactItems = [] %}
        {% for contact in contacts %}
          <input type="hidden" id="assistanceRequired[{{loop.index0}}][id]" name="assistanceRequired[{{loop.index0}}][id]" value="{{contact.contactId}}">
          {% set contactItems = (contactItems.push({
            name: "assistanceRequired[" + loop.index0 + "][selected]",
            id: "assistanceRequired[" + loop.index0 + "][selected]",
            value: true,
            text: (contact.firstName + " " + contact.lastName) | convertToTitleCase + " (" + contact.relationshipToPrisonerDescription + ")",
            checked: formResponses.assistanceRequired[loop.index0].selected if formResponses.assistanceRequired else contact.assistedVisit
          }), contactItems) %}
        {% endfor %}

        {{ govukCheckboxes({
          fieldset: {
            legend: {
              text: pageTitle + " (optional)",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: contactItems
        }) }}

        {{ continueCancel({
          stepsChecked: stepsChecked, 
          continueText: submitAction,
          cancelText: 'Cancel and return to homepage' if mode == 'create' else 'Cancel and return to visit details',
          cancelHref: './' if mode == 'amend'
        })}}
      </form>
    </div>
  </div>
{% endblock %}