{% extends "partials/layout.njk" %}
{% from "partials/miniProfile/macro.njk" import miniProfile %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/progress-tracker.njk" import progressTracker %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

{% set pageTitle = "Will visitors need assistance?" %}

{% block content %}

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-three-quarters">
      {# Who is attending, time and place, visitors, review, booking complete #}
      {{ progressTracker(true, true, false, false, false) }}
    </div>
  </div>
      {{ miniProfile(prisoner) }}

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-three-quarters">
      <span class="govuk-hint">Schedule an official visit</span>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-from-desktop">
      <form method='POST'>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        {% set contactItems = [] %}
        {% for contact in contacts %}
          {% set contactItems = (contactItems.push(
            {
              value: contact.id,
              text: contact.firstName + " " + contact.lastName,
              checked: contact.assistedVisit,
              conditional: {
                html: govukCharacterCount({
                    maxlength: 400,
                    rows: 5,
                    id: "note-" + contact.id,
                    name: "note-" + contact.id,
                    value: contact.assistanceNotes,
                    errorMessage: validationErrors | findError("note-" + contact.id)
                  })
              }
            }
          ), contactItems) %}
        {% endfor %}

        {{ govukCheckboxes({
          name: "assistanceRequired",
          fieldset: {
            legend: {
              text: "Will visitors need assistance?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: contactItems
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
                text: "Confirm",
                preventDoubleClick: true
            }) }}
          <a class="govuk-link govuk-link--no-visited-state" href="/">Cancel</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
