{% extends "partials/layout.njk" %}

{% set pageTitle = "Are you sure you want to cancel this visit?" %}
{% set hideBackLink = true %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      Page awaiting build
    </div>
  </div>
{% endblock %}
