{% extends "partials/layout.njk" %}

{% from "partials/progress-tracker.njk" import progressTracker %}

{% set hideBackLink = true %}
{% set pageTitle = "When is the visit?" %}

{% block content %}
  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-three-quarters">
      {# Who is attending, visitors, time and place, review, booking complete#}
      {{ progressTracker(true, false, false, false, false) }}
    </div>
  </div>

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-three-quarters">
      <span class="govuk-hint">Schedule an official visit</span>
      <h1 class="govuk-heading-l">{{ pageTitle }}</span></h1>
    </div>
  </div>


  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-three-quarters">
     Page awaiting design
    </div>
  </div>

{% endblock %}
