{% extends "partials/layout.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set prisonerName = (prisoner.firstName + " " + prisoner.lastName) | convertToTitleCase %}
{% set mode = session.req.routeContext.mode %}
{% set pageTitle = "Official visit booked for " + prisonerName%}
{% set hideBackLink = true %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({ titleText: "New official visit booked", html: "<b>Prisoner:</b> " + prisonerName + " (" + prisoner.prisonerNumber + ")" }) }}

      <p id="confirmation-message">You have successfully booked an official visit at {{ visit.prisonDescription }} with {{ prisonerName }} ({{ prisoner.prisonerNumber }})</p>

      {% set visitorRows = [] %}
      {% for contact in visit.officialVisitors %}
        {% set visitorRows = (visitorRows.push({
          key: { text: "Visitor name" },
          value: { text: (contact.firstName + " " + contact.lastName) | convertToTitleCase + " (" + contact.relationshipDescription + ")" }
        }), visitorRows) %}
      {% endfor %}

      {{ govukSummaryList({
        attributes: { "data-qa": "visit-details" },
        rows: visitorRows.concat([
          { key: { text: "Date" }, value: { text: visit.visitDate | formatDate("EEEE d MMMM yyyy") } },
          { key: { text: "Time" }, value: { text: (visit.startTime | timeStringTo24HourPretty) + ' to ' + (visit.endTime | timeStringTo24HourPretty) + ' (' + visit.startTime | durationText(visit.endTime) + ')' } },
          { key: { text: "Location" }, value: { text: visit.locationDescription } }
        ])
      }) }}

      <h2 class='govuk-heading-m'>What you can do next</h2>

      {# TODO: Add links to the correct pages #}
      <ul class="govuk-list">
        <li class="govuk-!-margin-bottom-2">
          <a href="/view/visit/{{ officialVisitId }}" class="govuk-link govuk-link--no-visited-state">View visit</a>
        </li>
        <li class="govuk-!-margin-bottom-2">
          <a href="/manage/create/search" class="govuk-link govuk-link--no-visited-state">Schedule another visit</a>
        </li>
        <li>
          <a href="/view/visit/{{ officialVisitId }}/movement-slip" target="_blank" class="govuk-link govuk-link--no-visited-state">Print a movement slip</a>
        </li>
          {% if user | hasPermission(PERMISSION.MANAGE) and EMAIL_NOTIFICATIONS_ENABLED %}
            <li>
              <a href="/notification/enter-email-address/{{ officialVisitId }}/create" class="govuk-link govuk-link--no-visited-state">Send email confirmation</a>
            </li>
          {% endif %}
      </ul>
    </div>
  </div>
{% endblock %}
