{% extends "partials/layout.njk" %}
{% from "partials/miniProfile/macro.njk" import miniProfile %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/progress-tracker.njk" import progressTracker %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "partials/continueCancel.njk" import continueCancel %}

{% set pageTitle = "Will visitors have equipment with them?" %}

{% block content %}

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-three-quarters">
      {{ progressTracker(true, true, true) }}
    </div>
  </div>

  {{ miniProfile(prisoner) }}

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-three-quarters">
      <span class="govuk-hint">Schedule an official visit</span>
      <h1 class="govuk-heading-l">{{pageTitle}} (optional)</h1>
      <p>Add any important information about equipment a visitor will bring to the official visit.</p>
      <form method='POST'>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        {% set contactItems = [] %}
        {% for contact in contacts %}
          {% set contactItems = (contactItems.push({
            name: "equipment[" + loop.index0 + "][id]",
            id: "equipment[" + loop.index0 + "][id]",
            value: contact.prisonerContactId,
            text: (contact.firstName + " " + contact.lastName) | convertToTitleCase + " (" + contact.relationshipToPrisonerDescription + ")",
            checked: formResponses.equipment[loop.index0].id if formResponses.equipment else contact.equipment,
            conditional: {
              html: govukCharacterCount({
                maxlength: 400,
                rows: 5,
                id: "equipment[" + loop.index0 + "][notes]",
                name: "equipment[" + loop.index0 + "][notes]",
                value: formResponses
                  .equipment[loop.index0]
                  .notes or contact
                  .equipmentNotes,
                errorMessage: validationErrors | findError("equipment[" + loop.index0 + "][notes]")
              })
            }
          }), contactItems) %}
        {% endfor %}

        {{ govukCheckboxes({
          name: "equipment",
          items: contactItems
        }) }}

        {{ continueCancel({}) }}
      </form>
    </div>
  </div>
{% endblock %}