{% extends "partials/layout.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/progress-tracker.njk" import progressTracker %}

{% set pageTitle = "Who is the official visit for?" %}

{% block content %}

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-three-quarters">
      {# Who is attending, time and place, visitors, review, booking complete #}
      {{ progressTracker(false, false, false, false, false) }}
    </div>
  </div>

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-three-quarters">
      <span class="govuk-hint">Schedule an official visit</span>
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
    </div>
  </div>

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-three-quarters">
      <form method='POST'>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        {{ govukInput({
          id: "searchTerm",
          name: "searchTerm",
          label: { text: "Search by prisoner name, number, PNC or CRO" },
          classes: 'govuk-!-width-one-third',
          autocomplete: "off",
          errorMessage: validationErrors | findError('searchTerm'),
          value: formResponses.searchTerm or searchTerm
        }) }}

        {{ govukButton({
          html: "Search",
          preventDoubleClick: true,
          type: "submit"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
