{% extends "partials/layout.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "partials/progress-tracker.njk" import progressTracker %}
{% from "partials/continueCancel.njk" import continueCancel %}

{% set pageTitle = "Who is the official visit for?" %}

{% block content %}

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-three-quarters">
      {# Who is attending, time and place, visitors, review and confirm #}
      {{ progressTracker(false, false, false, false) }}
    </div>
  </div>

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-three-quarters">
      <span class="govuk-hint">Schedule an official visit</span>
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
    </div>
  </div>

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-three-quarters">
      <form method='POST'>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        {{ govukInput({
          id: "searchTerm",
          name: "searchTerm",
          label: {
            text: "Search by prisoner name or prisoner ID",
            classes: "govuk-!-font-weight-bold"
          },
          classes: 'govuk-!-width-one-third',
          autocomplete: "off",
          errorMessage: validationErrors | findError('searchTerm'),
          value: formResponses.searchTerm or searchTerm
        }) }}

        {{ continueCancel({
          continueText: "Search"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
