{% extends "partials/layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/progress-tracker.njk" import progressTracker %}

{% set pageTitle = "Review scheduled events to avoid clashes" %}

{% block content %}

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-three-quarters">
      {# Who is attending, time and place, visitors, review, booking complete #}
      {{ progressTracker(false, false, false, false, false) }}
    </div>
  </div>

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-three-quarters">
      <span class="govuk-hint">Schedule an official visit</span>
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-from-desktop">
      <form method='POST'>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        <div class="govuk-button-group">
          {{ govukButton({
                text: "Confirm",
                preventDoubleClick: true
            }) }}
          <a class="govuk-link govuk-link--no-visited-state" href="/">Cancel</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}