{% extends "partials/layout.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "partials/continueCancel.njk" import continueCancel %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "partials/progress-tracker.njk" import progressTracker %}
{% from "partials/createJourneyHeader.njk" import createJourneyHeader %}

{% set pageTitle = "Search results" %}

{% block content %}

  {{ createJourneyHeader(prisoner, stepsChecked)}}

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-three-quarters">
      <span class="govuk-hint">Schedule an official visit</span>
      <h1 class="govuk-heading-l">{{ pageTitle }}  <span class="govuk-visually-hidden">(Page {{ results.number + 1 }} of {{ results.totalPages }})</span></h1>

        <form method='POST'>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
            <div class="date-search-form">
                {{ govukInput({
                    id: "searchTerm",
                    name: "searchTerm",
                    label: {
                        text: "Search by prisoner name or prisoner ID",
                        classes: "govuk-!-font-weight-bold"
                    },
                    classes: '',
                    autocomplete: "off",
                    errorMessage: validationErrors | findError('searchTerm'),
                    value: formResponses.searchTerm or searchTerm
                }) }}
                {{ govukButton({
                    text: "Search",
                    preventDoubleClick: true,
                    classes: "govuk-button--secondary"
                }) }}
            </div>
        </form>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-from-desktop">
      {% if results.content.length %}
          {% if results.content.length > 1 %}
              <h3 class="govuk-heading-m">
                  Select the correct result from the list.
              </h3>
          {% endif %}

          {% if results.content.length === 1 %}
              <h3 class="govuk-heading-m">
                  There is 1 matching person.
              </h3>
          {% endif %}

          {% if results.content.length > pageSize %}
              <p class="govuk-body">
                  Showing {{ results.totalElements }} results{{ (" (page " + (results.number + 1) + " of " + results.totalPages + ")") if results.totalPages > 1 }}.
              </p>
          {% endif %}

        {% set rows = [] %}
        {% for result in results.content %}
          {% set actionHtml %}
            <a href="prisoner-select?prisonerNumber={{ result.prisonerNumber }}&page={{results.number}}" class="govuk-link govuk-link--no-visited-state">Select this prisoner</a>
          {% endset %}

          {% set profileHtml %}
            <a id="search-results-profile-link"
               class="govuk-link--no-visited-state"
               href="{{ prisonerProfileUrl }}/prisoner/{{ result.prisonerNumber }}"
               target="_blank"
               data-qa="search-results-profile-link">
              {{ (result.lastName + ", " + result.firstName) | convertToTitleCase }}
            </a>
          {% endset %}

          {% set rows = (rows.push([
            { html: profileHtml },
            { text: result.prisonerNumber },
            { text: result.dateOfBirth | formatDate },
            { text: result.cellLocation },
            { text: result.pncNumber or '--' },
            { text: result.croNumber or '--' },
            { html: actionHtml }
          ]), rows) %}
        {% endfor %}

        {{ govukTable({
          head: [
            { text: "Name" },
            { text: "Prison number" },
            { text: "Date of birth" },
            { text: "Cell location" },
            { text: "PNC" },
            { text: "CRO" },
            { html: "Action" }
          ],
          rows: rows
        }) }}
      {% else %}
          <h3 class="govuk-heading-m">
              There are no results for this search criteria
          </h3>
      {% endif %}

      {% if results.totalPages > 1 %}
        {% set paginationItems = [] %}
        {% for i in range(0, results.totalPages) %}
          {% if i === 0 or i === (results.totalPages - 1) or (i >= results.number - 1 and i <= results.number + 1) %}
            {% set paginationItems = (paginationItems.push(
              {
                number: i + 1,
                href: "?page=" + i,
                current: (i === results.number)
              }
            ), paginationItems) %}
            {% elif i === 1 or i === results.totalPages - 2 %}
            {% set paginationItems = (paginationItems.push({ ellipsis: true }), paginationItems) %}
          {% endif %}
        {% endfor %}

        {{ govukPagination({
          previous: {
            href: "?page=" + (results.number - 1)
          } if not results.first,
          next: {
            href: "?page=" + (results.number + 1)
          } if not results.last,
          items: paginationItems
        }) }}
      {% endif %}
    </div>
  </div>
{% endblock %}
