{% extends "partials/layout.njk" %}
{% from "partials/miniProfile/macro.njk" import miniProfile %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/progress-tracker.njk" import progressTracker %}
{% from "partials/restriction-summary.njk" import restrictionSummary %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "partials/continueCancel.njk" import continueCancel %}

{% set pageTitle = "Select official visitors from the prisoner's approved contact list" %}

{% block content %}

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-three-quarters">
      {{ progressTracker(true, true, false, false, false) }}

    </div>
  </div>
      {{ miniProfile(prisoner) }}
  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-three-quarters">
      <span class="govuk-hint">Schedule an official visit</span>
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
    </div>
  </div>

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-three-quarters">
      {% set rows = [] %}
      {% for pr in prisoner.restrictions %}

        {% set restrictionTagHtml %}
            {{ govukTag({ text: pr.restrictionTypeDescription, classes: 'wide-tag ' + pr.restrictionType | restrictionTagColour }) }}
            {{ ' (expired)' if (pr.expiryDate | isDateAndInThePast) }}
        {% endset %}

        {% set rows = (rows.push([
          { html: restrictionTagHtml },
          { text: pr.commentText },
          { text: pr.effectiveDate | formatDate },
          { text: (pr.expiryDate | formatDate) or "Not entered" }
        ]), rows) %}
      {% endfor %}

      {% set captionText %}
        {{ (prisoner.firstName + ' ' + prisoner.lastName) | convertToTitleCase | possessiveComma }} active restrictions
      {% endset %}

      <div class="govuk-summary-card">
        {% if rows.length > 0 %}
          <div class="govuk-summary-card__content" data-qa="prisoner-restrictions-table">
            {{ govukTable({
              caption: captionText,
              captionClasses: "govuk-table__caption--m",
              firstCellIsHeader: true,
              head: [
                { text: "Type of restriction" },
                { text: "Comments" },
                { text: "Date from" },
                { text: "Date to" }
              ],
              rows: rows
            }) }}
          </div>
        {% else %}
          <div class="govuk-summary-card__content govuk-summary-card__title">{{ captionText }}</div>
          <div class="govuk-body govuk-!-margin-top-0 govuk-!-margin-left-4">No active restrictions</div>
        {% endif %}
      </div>
    </div>
  </div>

  <form method='POST'>
    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

    <div class="govuk-grid-row govuk-body">
      <div class="govuk-grid-column-three-quarters">
        {% set rows = [] %}
        {% for contact in contacts %}

          {% set addressHtml %}
            {{ contact | formatAddressLines | escape | nl2br | safe }}
          {% endset %}

          {% set restrictionsHtml %}
            {{ restrictionSummary(contact.restrictionSummary.active or []) }}
          {% endset %}

          {% set rows = (rows.push([
            { html: govukCheckboxes({
              name: 'selected[]',
              classes: "govuk-checkboxes--small",
              items: [
                {
                  value: contact.prisonerContactId,
                  text: " ",
                  checked: selectedContacts | includes(contact.prisonerContactId)
                }
              ]
            }) },
            { text: (contact.firstName + " " + contact.lastName) | convertToTitleCase },
            { text: contact.dateOfBirth | formatOverEighteen } or '-',
            { text: contact.relationshipToPrisonerDescription or '-' },
            { html: addressHtml or 'Not entered' },
            { html: restrictionsHtml or 'None' }
          ]), rows) %}
        {% endfor %}

        {% if rows.length > 0 %}
          <div data-qa="visitors-table">
            {{ govukTable({
              caption: "Approved official contacts",
              captionClasses: "govuk-table__caption--m",
              firstCellIsHeader: true,
              head: [
                { text: "Add" },
                { text: "Name" },
                { text: "Age" },
                { text: "Relationship" },
                { text: "Address" },
                { text: "Active restrictions" }
              ],
              rows: rows
            }) }}
          </div>
        {% else %}
          <div class="govuk-summary-card__title">Approved official contacts</div>
          <div class="govuk-body govuk-!-margin-top-3">No approved official contacts</div>
        {% endif %}
      </div>
    </div>

    <div class="govuk-grid-row govuk-body">
      <div class="govuk-grid-column-three-quarters">
        If you cannot find the contact in the list, you can
        <a class="govuk-link govuk-link--no-visited-state"
           data-qa="contacts-link"
           target="_blank"
           href="{{ CONTACTS_HOME_PAGE_URL }}/prisoner/{{ prisoner.prisonerNumber }}/contacts/list">
          view and add new contacts
        </a>
      </div>
    </div>

    <div class="govuk-grid-row govuk-body">
      <div class="govuk-grid-column-three-quarters">
        {{ continueCancel({}) }}
    </div>
  </div>

  </form>
{% endblock %}
