{% extends "partials/layout.njk" %}
{% from "partials/miniProfile/macro.njk" import miniProfile %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/progress-tracker.njk" import progressTracker %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% set pageTitle = "Select official vistor" %}

{% block content %}

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-three-quarters">
      {# Who is attending, time and place, visitors, review, booking complete #}
      {{ progressTracker(true, true, false, false, false) }}
      {{ miniProfile(prisoner) }}
    </div>
  </div>

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-three-quarters">
      <span class="govuk-hint">Schedule an official visit</span>
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-from-desktop">
      <form method='POST'>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        {% set rows = [] %}
        {% for contact in contacts %}
          {% set rows = (rows.push([
            { html: govukCheckboxes({
              name: "selected[" + contact.id + "]",
              classes: "govuk-checkboxes--small",
              items: [
                {
                  value: contact.id,
                  text: "Add",
                  checked: selectedContacts | includes(contact.id)
                }
              ]
            }) },
            { text: (contact.firstName + " " + contact.lastName) | convertToTitleCase },
            { text: contact.dateOfBirth | formatDate },
            { text: contact.relationshipTypeDescription or '-' },
            { text: 'TODO' },
            { text: 'TODO' }
          ]), rows) %}
        {% endfor %}

        {{ govukTable({
          caption: "Approved official contacts",
          captionClasses: "govuk-table__caption--m",
          firstCellIsHeader: true,
          head: [
            {text: "Add"},
            {text: "Name"},
            {text: "Date of birth"},
            {text: "Relationship"},
            {text: "Address"},
            {text: "Active restrictions"}
          ],
          rows: rows
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
                text: "Confirm",
                preventDoubleClick: true
            }) }}
          <a class="govuk-link govuk-link--no-visited-state" href="/">Cancel</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
