{% extends "partials/layout.njk" %}
{% from "partials/miniProfile/macro.njk" import miniProfile %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/progress-tracker.njk" import progressTracker %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% set pageTitle = "Select social visitors from the prisoner's approved contact list (optional)" %}

{% block content %}

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-three-quarters">
      {{ progressTracker(true, true, false, false, false) }}
      {{ miniProfile(prisoner) }}
    </div>
  </div>

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-three-quarters">
      <span class="govuk-hint">Schedule an official visit</span>
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
    </div>
  </div>

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-three-quarters">
      {% set rows = [] %}
      {% for pr in prisoner.restrictions %}

        {% set restrictionTagHtml %}
          {{ govukTag({ text: pr.typeDescription, classes: 'wide-tag ' + pr.typeCode | restrictionTagColour }) }}{{ ' (expired)' if (pr.endDate | isDateAndInThePast) }}
        {% endset %}

        {% set rows = (rows.push([
          { html: restrictionTagHtml },
          { text: pr.comments },
          { text: pr.startDate | formatDate },
          { text: pr.endDate | formatDate }
        ]), rows) %}

      {% endfor %}

      {% set captionText %}
        {{ (prisoner.firstName + ' ' + prisoner.lastName) | convertToTitleCase | possessiveComma }} active restrictions
      {% endset %}

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__content">
          {{ govukTable({
            caption: captionText,
            captionClasses: "govuk-table__caption--m",
            firstCellIsHeader: true,
            head: [
              { text: "Type of restriction" },
              { text: "Comments" },
              { text: "Date from" },
              { text: "Date to" }
            ],
            rows: rows
          }) }}
        </div>
      </div>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <form method='POST'>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        {% set rows = [] %}
        {% for contact in contacts %}

          {% set addressHtml %}
            <span>{{ contact | formatAddressLines | escape | nl2br | safe }}</span>
          {% endset %}

          {% set restrictionsHtml %}
            formatted restrictions
          {% endset %}

          {% set rows = (rows.push([
            { html: govukCheckboxes({
              name: "selected",
              classes: "govuk-checkboxes--small",
              items: [
                {
                  value: contact.prisonerContactId,
                  text: "Add",
                  checked: selectedContacts | includes(contact.prisonerContactId)
                }
              ]
            }) },
            { text: (contact.firstName + " " + contact.lastName) | convertToTitleCase },
            { text: contact.dateOfBirth | formatDate } or '-',
            { text: contact.relationshipToPrisonerDescription or '-' },
            { html: addressHtml },
            { html: restrictionsHtml }
          ]), rows) %}
        {% endfor %}

        {{ govukTable({
          caption: "Approved social contacts",
          captionClasses: "govuk-table__caption--m",
          firstCellIsHeader: true,
          head: [
            {text: "Add"},
            {text: "Name"},
            {text: "Date of birth"},
            {text: "Relationship"},
            {text: "Address"},
            {text: "Active restrictions"}
          ],
          rows: rows
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
                text: "Confirm",
                preventDoubleClick: true
            }) }}
          <a class="govuk-link govuk-link--no-visited-state" href="/">Cancel</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
