{% extends "partials/layout.njk" %}

{% from "partials/miniProfile/macro.njk" import miniProfile %}
{% from "partials/showLocation.njk" import showLocation %}
{% from "partials/progress-tracker.njk" import progressTracker %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "partials/continueCancel.njk" import continueCancel %}
{% from "partials/createJourneyHeader.njk" import createJourneyHeader %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% set pageTitle = "Select date and time of official visit" %}

{% block content %}

  {{ createJourneyHeader(prisoner, stepsChecked, mode)}}

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-three-quarters">
      <span class="govuk-hint">{{'Schedule' if mode == 'create' else 'Amend'}} an official visit</span>
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <form method='POST'>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        <nav aria-labelledby="selected-date">
          <h2 class="govuk-heading-m" id="selected-date">{{ selectedDate | formatDate('EEEE d MMMM yyyy') }}</h2>

          <ul class="govuk-list bapv-timetable-dates govuk-!-margin-bottom-1">
            {% for day in weekOfDates %}
              {% set selected = day.date == selectedDate %}
              <li class="bapv-timetable-dates__date{{ ' bapv-timetable-dates__date--selected' if selected }}">
                <span>{{ day.date | formatDate('E') }}</span>
                {% if not selected and day.isInFuture %}
                  <a class="govuk-link--no-visited-state" href="?date={{ day.date | formatDate('yyyy-MM-dd') }}">
                  {% endif %}
                  <span class="day" id="day-{{ loop.index }}">{{ day.date | formatDate('d') }}</span>
                  <span class="govuk-visually-hidden">
                    {{ day.date | formatDate('MMMM yyyy') }}
                  </span>
                  {% if not selected and day.isInFuture %}
                  </a>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
          <ul class="govuk-list bapv-timetable-dates">

            <li class="moj-pagination__item  moj-pagination__item--prev">
              {% if (weekOfDates | first)
                  .isInFuture and(weekOfDates | first)
                  .date != today %}
                <a class="moj-pagination__link" href="?date={{ previousWeek | formatDate('yyyy-MM-dd') }}">Previous week</a>
              {% endif %}
            </li>
            <li class="moj-pagination__item  moj-pagination__item--next">
              <a class="moj-pagination__link" href="?date={{ nextWeek | formatDate('yyyy-MM-dd') }}">Next week</a>
            </li>
          </ul>
        </nav>

        {% set rows = [] %}
        {% for event in prisonerSchedule %}
          {% set rows = (rows.push([
            { text: (event.startTime + ' to ' + event.endTime) },
            { text: event.summary | trim },
            { text: eventTypeText(event) },
            { text: locationText(event) }
          ]), rows) %}
        {% endfor %}

        <div class="govuk-inset-text">
          {% if prisonerSchedule.length === 0 %}
            {% set rows = (rows.push([
              { text: '--' },
              { text: 'Nothing scheduled' },
              { text: '--' },
              { text: '--' }
            ]), rows) %}
          {% endif %}

          {{ govukTable({
            caption: (prisoner.firstName + " " + prisoner.lastName) | convertToTitleCase | possessiveComma + " schedule",
            captionClasses: "govuk-table__caption--m",
            head: [
              { text: "Time" },
              { text: "Event name" },
              { text: "Type" },
              { text: "Location" }
            ],
            rows: rows
          }) }}
        </div>

        {% set items = [] %}
        {% for slot in slots %}

          {# Show capacity for different types of visit #}
          {% set slotDescription %}
            <strong>{{ slot.locationDescription | convertToTitleCase }}</strong><br/>
            Groups {{ slot.availableGroups }}, people {{ slot.availableAdults }}, video {{ slot.availableVideoSessions }}
          {% endset %}

          {% set items = (items.push(
            {
              value: slot.visitSlotId,
              html: '<b>' + (slot.startTime | timeStringTo12HourPretty) + ' to ' + (slot.endTime | timeStringTo12HourPretty) + '</b><br />' + slotDescription,
              checked: selectedTimeSlot == slot.visitSlotId
            }
          ), items) %}
        {% endfor %}

        {% if items | length > 0 %}
          {{ govukRadios({
            idPrefix: "timeSlot",
            name: "timeSlot",
            fieldset: {
              legend: {
                text: "Select a time slot",
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: items,
            errorMessage: validationErrors | findError('timeSlot')
          })}}
        {% else %}
          {{ govukWarningText({
            text: "No visit sessions on this day.",
            iconFallbackText: "Warning"
          }) }}
        {% endif %}

        {{ continueCancel({
          stepsChecked: stepsChecked, 
          continueText: 'Continue' if mode == 'create' else 'Submit',
          cancelText: 'Cancel and return to homepage' if mode == 'create' else 'Cancel and return to visit details',
          cancelHref: '../' if mode == 'amend'
        })}}
      </form>
    </div>
  </div>
{% endblock %}

{% macro eventTypeText(scheduledEvent) %}
    {% if scheduledEvent.eventType === 'ACTIVITY' %}
        Activity
    {% elseif scheduledEvent.eventType === 'APPOINTMENT' %}
        Appointment
    {% elseif scheduledEvent.eventType === 'COURT_HEARING' %}
        Court hearing
    {% elseif scheduledEvent.eventType === 'VISIT' %}
        Visit
    {% elseif scheduledEvent.eventType === 'EXTERNAL_TRANSFER' %}
        External transfer
    {% elseif scheduledEvent.eventType === 'ADJUDICATION_HEARING' %}
        Adjudication hearing
    {% endif %}
{% endmacro %}

{% macro locationText(scheduledEvent) %}
    {% if scheduledEvent.eventType != 'EXTERNAL_TRANSFER' and scheduledEvent.eventType != 'COURT_HEARING' %}
        {{ showLocation(scheduledEvent) }}
    {% else %}
       External
    {% endif %}
{% endmacro %}
