{% extends "partials/layout.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "partials/progress-tracker.njk" import progressTracker %}
{% from "partials/continueCancel.njk" import continueCancel %}

{% set pageTitle = "What type of official visit?" %}

{% block content %}

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-three-quarters">
      {# Who is attending, time and place, visitors, review, booking complete #}
      {{ progressTracker(true, false, false, false, false) }}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-from-desktop">
      <span class="govuk-hint">Schedule an official visit</span>
      <form method='POST'>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        {{ govukRadios({
          idPrefix: "visitType",
          name: "visitType",
          fieldset: {
            legend: {
              text: pageTitle,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: items | selected(visitType),
          errorMessage: validationErrors | findError('visitType')
        }) }}

        {{ continueCancel({}) }}
      </form>
    </div>
  </div>
{% endblock %}