{% extends "partials/layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "partials/progress-tracker.njk" import progressTracker %}

{% set pageTitle = "What type of official visit" %}

{% block content %}

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-three-quarters">
      {# Who is attending, time and place, visitors, review, booking complete #}
      {{ progressTracker(false, false, false, false, false) }}
    </div>
  </div>

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-three-quarters">
      <span class="govuk-hint">Schedule an official visit</span>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-from-desktop">
      <form method='POST'>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        {{ govukRadios({
          idPrefix: "visitType",
          name: "visitType",
          fieldset: {
            legend: {
              text: "What type of visit?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: items | selected(visitTypeCode),
          errorMessage: validationErrors | findError('visitType')
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
                text: "Confirm",
                preventDoubleClick: true
            }) }}
          <a class="govuk-link govuk-link--no-visited-state" href="/">Cancel</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}