{% extends "partials/layout.njk" %}
{% from "partials/miniProfile/macro.njk" import miniProfile %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/progress-tracker.njk" import progressTracker %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "partials/continueCancel.njk" import continueCancel %}
{% from "partials/createJourneyHeader.njk" import createJourneyHeader %}
{% from "partials/capacityCheckMessages.njk" import capacityCheckMessages %}

{% set pageTitle = "Further visitor details" %}

{% block content %}

  {{ capacityCheckMessages(checks, visitId)}}
  {{ createJourneyHeader(prisoner, stepsChecked, mode)}}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <span class="govuk-hint">{{'Book' if mode == 'create' else 'Update'}} an official visit</span>
      <form method='POST'>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        {% call govukFieldset({
          describedBy: "visitor-details-hint",
          legend: {
            text: pageTitle + " (optional)",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        }) %}
          <p id="visitor-details-hint">Add any important information about visitors. Do not include equipment here, you can add this on the next page.</p>

          {% for contact in contacts %}
            {% set contactName = (contact.firstName + " " + contact.lastName) | convertToTitleCase %}
            <input type="hidden" id="visitorDetails[{{loop.index0}}][id]" name="visitorDetails[{{loop.index0}}][id]" value="{{contact.contactId}}">
            {{ govukCharacterCount({
              maxlength: 240,
              rows: 5,
              label: {
                text: "Further details about " + contactName + " (" + contact.relationshipToPrisonerDescription + ")",
                classes: "govuk-label--s"
              },
              id: "visitorDetails[" + loop.index0 + "][notes]",
              name: "visitorDetails[" + loop.index0 + "][notes]",
              value: formResponses.visitorDetails[loop.index0].notes if formResponses.visitorDetails else contact.assistanceNotes,
              errorMessage: validationErrors | findError("visitorDetails[" + loop.index0 + "][notes]")
            }) }}
          {% endfor %}
        {% endcall %}

        {{ continueCancel({
          stepsChecked: stepsChecked,
          continueText: submitAction,
          cancelText: 'Cancel and return to homepage' if mode == 'create' else 'Cancel and return to visit details',
          cancelHref: './' if mode == 'amend'
        })}}
      </form>
    </div>
  </div>
{% endblock %}
