{% extends "partials/layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pageTitle = "Locations for time slot" %}
{% set paramBackTo = ("?backTo=" + b64BackTo) if b64BackTo %}

{% block content %}
  <div>
    <span class="govuk-hint">The locations and capacity for official visits</span>
    <h1 class="govuk-heading-l">Locations for {{ timeSlot.dayCode | translateDay }} {{ timeSlot.startTime }} - {{ timeSlot.endTime }}</h1>

      {% set rows = [] %}
      {% if visitSlots.length > 0 %}
          {% for slot in visitSlots %}
              {% set actionHtml = '<a href="/admin/time-slot/' + timeSlot.prisonTimeSlotId + '/location/' + slot.visitSlotId + '/edit">Edit</a>' %}
                {# Disabled delete functionality temporarily #}
                {# {% if slot.hasVisit == false %}
                  {% set actionHtml = actionHtml + ' <a class="govuk-link govuk-!-margin-left-4" href="/admin/time-slot/' + timeSlot.prisonTimeSlotId + '/location/' + slot.visitSlotId + '/delete">Delete</a>' %}
                {% endif %} #}
              {% set rows = (rows.push([
                  { text: slot.locationDescription },
                  { text: slot.maxAdults },
                  { text: slot.maxGroups },
                  { text: slot.maxVideo },
                  { html: actionHtml }
              ]), rows) %}
          {% endfor %}
      {% else %}
          {% set rows = (rows.push([
              { text: 'No locations' },
              { text: '' },
              { text: '' },
              { text: '' },
              { text: '' }
          ]), rows) %}
      {% endif %}

      {{ govukTable({
          head: [
              { text: 'Location' },
              { text: 'Maximum Adults' },
              { text: 'Maximum Groups' },
              { text: 'Maximum Video Visits' },
              { text: 'Actions' }
          ],
          rows: rows
      }) }}

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Add a new location",
        preventDoubleClick: true,
        href: "/admin/time-slot/" ~ timeSlot.prisonTimeSlotId ~ "/location/new"
      }) }}
      <a href="{{ backUrl }}"
         class="govuk-link govuk-!-margin-left-4">
        Return to schedule day view
      </a>
    </div>

  </div>
{% endblock %}
