{% extends "partials/layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set paramBackTo = ("?backTo=" + b64BackTo) if b64BackTo %}

{% block content %}
    <div>
        <span class="govuk-hint">Manage time slots</span>
        <h1 class="govuk-heading-l">Add a new room and visitor limits
            for {{ timeSlot.dayCode | translateDay }} {{ timeSlot.startTime }} to {{ timeSlot.endTime }}</h1>

        <form method="POST">
            <div class="govuk-grid-row govuk-body">
                <div class="govuk-grid-column-two-thirds">
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                    {{ govukSelect({
                        id: 'dpsLocationId',
                        name: 'dpsLocationId',
                        label: { text: 'Location' },
                        errorMessage: validationErrors | findError('dpsLocationId'),
                        items: locations | locationsToOptions | sort(false, false, 'text') | prependEmptyOption('Select a location') | setSelected(formResponses.location or filter.location or '')
                    }) }}

                    {% include "partials/admin/understandingVisitorLimits.njk" %}

                    {{ govukInput({
                        id: "maxAdults",
                        name: "maxAdults",
                        label: {
                            text: "Maximum visitors (this does not include prisoners)",
                            classes: "govuk-!-font-weight-bold"
                        },
                        classes: "govuk-input--width-4",
                        inputmode: "numeric",
                        autocomplete: "off",
                        errorMessage: validationErrors | findError('maxAdults'),
                        value: formResponses.maxAdults
                    }) }}

                    {{ govukInput({
                        id: "maxGroups",
                        name: "maxGroups",
                        label: {
                            text: "Maximum groups",
                            classes: "govuk-!-font-weight-bold"
                        },
                        classes: "govuk-input--width-4",
                        inputmode: "numeric",
                        autocomplete: "off",
                        errorMessage: validationErrors | findError('maxGroups'),
                        value: formResponses.maxGroups
                    }) }}

                    {{ govukInput({
                        id: "maxVideo",
                        name: "maxVideo",
                        label: {
                            text: "Maximum video visits",
                            classes: "govuk-!-font-weight-bold"
                        },
                        classes: "govuk-input--width-4",
                        inputmode: "numeric",
                        autocomplete: "off",
                        errorMessage: validationErrors | findError('maxVideo'),
                        value: formResponses.maxVideo
                    }) }}

                    <div class="govuk-button-group">
                        {{ govukButton({
                            text: "Save",
                            classes: "govuk-!-margin-bottom-0",
                            preventDoubleClick: true
                        }) }}
                        <a href="{{ backUrl }}"
                           class="govuk-link govuk-!-margin-left-4 govuk-link--no-visited-state">
                            Cancel and return to schedule
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}