.govuk-main-wrapper {
  min-height: 600px;
}

.homepage-content-container {
  width: 300%;
  margin-left: -100%;
  padding: 30px 0;
  background: #f0f4f5;
  height: auto;
  display: flex;
  justify-content: center;
}

.homepage-content {
  max-width: 100vw;
}

.dropshadow {
  border: 1px solid govuk-colour('dark-grey');
  box-shadow: 0 5px govuk-colour('mid-grey');
}

.wide-tag {
  max-width: none;
}

.moj-filter__options > button {
  width: 100%
}

.blue-button {
  background-color: $govuk-link-colour;
}

.blue-button:hover {
  background-color: $govuk-link-hover-colour;
}

.float-right {
  float: right;
}

.govuk-table td.long-text-column {
  overflow-wrap: anywhere;   /* allow breaking for long unspaced text */
  word-break: keep-all;      /* keep words intact when spaces exist */
  white-space: normal;       /* normal wrapping behaviour */
  width: 20% !important;
}

.dotted-border {
  border: 2px dashed #666;
}
