{% extends "partials/layout.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set pageTitle = "Notification sent" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        {{ govukPanel({
            titleText: "An email will be sent confirming " + ("this official visit has been cancelled." if action === "cancel" else "details of this official visit."),
            html: "<strong>Email:</strong> " ~ (emailAddress | e)
        }) }}

        {% if action === 'cancel' %}
            <p class="govuk-body">You should check to confirm this email has been sent successfully.</p>
        {% else %}
            <p class="govuk-body">You should check to confirm this email has been sent successfully. If you update or cancel this visit, you should send another email.</p>
        {% endif %}

      <h2 class="govuk-heading-m govuk-!-margin-top-6">What you can do next</h2>
      <ul class="govuk-list govuk-!-margin-bottom-6">
        <li><a class="govuk-link govuk-link--no-visited-state" href="/view/visit/{{ ovId }}">View visit</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="/view/sent-emails">View the status of official visit emails</a></li>
      </ul>
    </div>
  </div>
{% endblock %}
