{% extends "partials/layout.njk" %}

{% set hideBetaBanner = true %}
{% set backUrl = 'javascript-back' %}

{% block pageTitle %}Accessibility statement - Official Visits - DPS{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Accessibility statement</h1>

      <p class="govuk-body">This accessibility statement applies to the Official Visits on DPS. The service allows users to book, update and cancel official visits in prisons.</p>
      <p class="govuk-body">This website is run by HM Prison and Probation Service. We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>change colours, contrast levels and fonts using browser or device settings</li>
        <li>zoom in up to 400% without the text spilling off the screen</li>
        <li>navigate most of the website using a keyboard or speech recognition software</li>
        <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
      </ul>
      <p class="govuk-body">We’ve also made the website text as simple as possible to understand.</p>
      <p class="govuk-body">AbilityNet has <a class="govuk-link" href="https://mcmw.abilitynet.org.uk/">advice on making your device easier to use</a> if you have a disability.</p>

      <h2 class="govuk-heading-m">How accessible this website is</h2>
      <p class="govuk-body">The Official Visits service is fully accessible at the time of writing.</p>
      <p class="govuk-body">The website has been tested against the <a class="govuk-link" href="https://www.w3.org/TR/WCAG22/">Web Content Accessibility Guidelines version 2.2</a> (WCAG) 2.2 AA standard. The website is fully compliant and meets these standards in full.</p>

      <h2 class="govuk-heading-m">Compliance status</h2>
      <p class="govuk-body">Accessibility testing was carried out by User Vision. The most viewed pages were tested using automated testing tools. A further audit of the website was carried out to the WCAG 2.2 AA standard.</p>
      <p class="govuk-body">Two accessibility reviews have been completed for the Official Visits service:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>The first review, on 16 July 2026, found that the service was 85% compliant to WCAG 2.2 standard level AA criteria</li>
        <li>The second review, in September 2026, found that the service was 95% compliant to WCAG 2.2 standard level AA criteria</li>
        <li>The second review identified 5 final actions to make the service 100% compliant and all of these were completed in September 2026</li>
      </ul>
      <p class="govuk-body">You can read two accessibility reports on the service below:</p>
      <ul class="govuk-list">
        <li><a class="govuk-link" href="https://justiceuk.sharepoint.com/:b:/r/sites/PrisonsDigital/Shared%20Documents/Move%20%26%20Improve/11.%20Official%20Visits/4.%20Rollout/OfficialVisits_AuditFindings_16Jul2026.pdf?d=w722e2c3203174b6ab1a93c6167e0bb14&csf=1&web=1&e=iaUbnb">OfficialVisits_AuditFindings_16Jul2026.pdf</a></li>
        <li><a class="govuk-link" href="https://justiceuk.sharepoint.com/:b:/r/sites/PrisonsDigital/Shared%20Documents/Move%20%26%20Improve/11.%20Official%20Visits/4.%20Rollout/OfficialVisit-SpotCheck_4Sep2026.pdf?d=w058a21157b3b4cad820cf474d272eeb8&csf=1&web=1&e=guUEtW">OfficialVisit-SpotCheck_4Sep2026.pdf</a></li>
      </ul>

      <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>
      <p class="govuk-body">This website was last tested by a third party on 4 September 2026 against the WCAG 2.2 AA standard.</p>
      <p class="govuk-body">This statement was prepared on 16 September 2026. It was last reviewed on 16 September 2026.</p>

      <h2 class="govuk-heading-m">Feedback and contact information</h2>
      <p class="govuk-body">If you think we’re not meeting accessibility requirements, or you need any information from the service listed in a different format, contact: <a class="govuk-link" href="mailto:moveandimprove@justice.gov.uk">moveandimprove@justice.gov.uk</a></p>

      <h2 class="govuk-heading-m">Enforcement procedure</h2>
      <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).</p>
      <p class="govuk-body">If you’re not happy with how we respond to your complaint, <a class="govuk-link" href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS)</a>.</p>
    </div>
  </div>
{% endblock %}
