{% extends "partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = "Sorry, scheduled maintenance affects this service" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>
            <p class="govuk-body">This service is currently undergoing scheduled maintenance. We are working hard to restore access as soon as possible. Please check back later.</p>
            <p class="govuk-body">We apologise for any inconvenience this may cause and thank you for your patience.</p>

            {{ govukButton({
                text: "Return to HMPPS Digital Services",
                classes: 'govuk-!-margin-top-6',
                href: authUrl
            }) }}
        </div>
    </div>
{% endblock %}
